---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
---
<BaseLayout pageTitle="Bisexualitea" page="bisexualitea" description="Tea party at the Milwaukee LGBT Community Center celebrating bisexual awareness week">
	<Section backgroundImage="unicorn.jpg">
		<h1>Bisexuali-tea Party</h1>
		<p>Join Bi+ Pride Milwaukee in September 2024 for our annual tea party at the Milwaukee LGBT Community Center. More information coming soon.</p>
	</Section>
</BaseLayout>