---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import Gallery from '../components/Gallery.astro';
import GalleryImage from '../components/GalleryImage.astro';
import Button from '../components/Button.astro';
---
<BaseLayout pageTitle="Bisexualitea" page="bisexualitea" description="Tea party at the Milwaukee LGBT Community Center celebrating bisexual awareness week">
	<Section backgroundImage="unicorn.jpg">
		<GalleryImage image="bisexualitea/bisexualitea.jpg" description="Bi+ Pride Milwaukee Presents The Annual Bisexuali-Tea Party" />
		<h1>Bisexuali-Tea Party 2024</h1>
		<p>Dearest Gentle Bisexual+,<br />
		Bi+ Pride Milwaukee presents the 2024 edition of our annual Bisexuali-Tea Party to celebrate Bisexual+ Visibility Month!</p>
		<p>Please join us on September 21, 2024, at 2 PM at the <a href="https://www.mkelgbt.org/" target="_blank">Milwaukee LGBT Community Center</a> to share Bi+ joy, some treats, and a cup of tea. We will have several teas brewing and a variety of sweet and savory treats to feast on. If you would like, you are welcome to bring a specialty of yours to share with our community, but it is in no way a requirement. Showing up as your authentic self is enough.</p>
		<p>Feel free to wear what makes you feel most comfortable and most bi+! Dress up or down as you like! Bonus points for a fancy hat!</p>
		<p><Button link="https://www.facebook.com/events/1633499540829982/" color="purple">Facebook Event</Button></p>
	</Section>
	<Gallery>
		<GalleryImage image="bisexualitea/tea1.jpg" description="Teacups" />
		<GalleryImage image="bisexualitea/tea2.jpg" description="A spread of food in front of an inflatable unicorn" />
		<GalleryImage image="bisexualitea/tea3.jpg" description="The Milwaukee LGBT Community Center decorated with flags" />
	</Gallery>
</BaseLayout>