---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import Gallery from '../components/Gallery.astro';
import GalleryImage from '../components/GalleryImage.astro';
import Button from '../components/Button.astro';
---
<BaseLayout pageTitle="Bisexualitea" page="bisexualitea" description="Tea party at the Milwaukee LGBT Community Center celebrating bisexual awareness week">
	<Section backgroundImage="unicorn.jpg">
		<Gallery>
			<GalleryImage image="bisexualitea/tea6.jpg" description="Cupcakes" />
			<GalleryImage image="bisexualitea/bisexualitea.jpg" description="Bi+ Pride Milwaukee Presents The Annual Bisexuali-Tea Party" />
			<GalleryImage image="bisexualitea/tea5.jpg" description="Teacups" />
		</Gallery>
		<h1>Bisexuali-Tea Party 2025</h1>
		<p>Every September, Bi+ Pride Milwaukee hosts a tea party in honor of bisexual awareness. Our 2025 party was at the Milwaukee LGBT Center.</p>
	</Section>
	<Gallery>
		<GalleryImage image="bisexualitea/2025-1.jpg" description="Bisexualitea attendees group photo" />
		<GalleryImage image="bisexualitea/2025-2.jpg" description="Bisexualitea attendees group photo" />
		<GalleryImage image="bisexualitea/2025-3.jpg" description="Bisexualitea attendees group photo" />
		<GalleryImage image="bisexualitea/2025-4.jpg" description="Bisexualitea attendees group photo" />
	</Gallery>
	<Gallery>
		<GalleryImage image="bisexualitea/2025-5.jpg" description="Bisexualitea attendees group photo" />
		<GalleryImage image="bisexualitea/2025-6.jpg" description="Bisexualitea attendees group photo" />
		<GalleryImage image="bisexualitea/2025-7.jpg" description="Bisexualitea attendees group photo" />
	</Gallery>
</BaseLayout>