---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import NewsLayout from '../layouts/NewsLayout.astro';
---
<BaseLayout pageTitle="In the News" page="news" description="New articles about Bi+ Pride Milwaukee and the Milwaukee bisexual community">
	<Section backgroundImage="summerfest.jpg">
		<h1>In the News</h1>
		<p>Here's where Bi+ Pride Milwaukee is being talked about elsewhere on the web.</p>
	</Section>
	<NewsLayout />
</BaseLayout>

