---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import Gallery from '../components/Gallery.astro';
import GalleryImage from '../components/GalleryImage.astro';
import Button from '../components/Button.astro';
---
<BaseLayout pageTitle="Newsletter Sign-Up" page="newsletter" description="Sign up for the Bi+ Pride Milwaukee Newsletter">
	<Section backgroundImage="unicorn.jpg">
		<script async src="https://eocampaign1.com/form/dc0ace52-27b6-11f0-aeb0-3b7aca71985e.js" data-form="dc0ace52-27b6-11f0-aeb0-3b7aca71985e"></script>
	</Section>
</BaseLayout>