---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import Gallery from '../components/Gallery.astro';
import GalleryImage from '../components/GalleryImage.astro';
import Button from '../components/Button.astro';
---
<BaseLayout pageTitle="Pride" page="pride" description="Events for Milwaukee bisexuals during Pride Month in June">
	<Section backgroundImage="parade.jpg">
		<h1>Pride Month 2025</h1>
		<p>Thanks for celebrating Pride with BPM! This year, we met many new faces at our table alongside the Milwaukee LGBT Community Center at <a href="https://www.pridefest.com/" target="_blank">Pridefest</a>, and we were proud to march with our biplane in the <a href="https://www.prideparademke.org/" target="_blank">Milwaukee Pride Parade</a>.</p>
		<p>See you in 2026!</p>
	</Section>
	<Gallery>
		<GalleryImage image="pride/pride-2025-2.jpg" description="Walking in the Pride Parade" />
		<GalleryImage image="pride/pride-2025-3.jpg" description="BPM members with Milwaukee Admirals mascot Roscoe" />
		<GalleryImage image="pride/pride-2025-1.jpg" description="Crafts on the BPM Pridefest table" />
	</Gallery>
	<Section backgroundImage="pridefest-table.jpg">
		<script async src="https://eocampaign1.com/form/dc0ace52-27b6-11f0-aeb0-3b7aca71985e.js" data-form="dc0ace52-27b6-11f0-aeb0-3b7aca71985e"></script>
	</Section>
</BaseLayout>