---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import Gallery from '../components/Gallery.astro';
import GalleryImage from '../components/GalleryImage.astro';
import Button from '../components/Button.astro';
---
<BaseLayout pageTitle="Pride" page="pride" description="Events for Milwaukee bisexuals during Pride Month in June">
	<Section backgroundImage="parade.jpg">
		<h1>Pride Month 2025</h1>
		<p>It's time to make plans for Pride!</p>
		<p>If you visit <a href="https://www.pridefest.com/" target="_blank">Pridefest</a> on June 6th or 7th, be sure to visit our table alongside the Milwaukee LGBT Community Center in the Health & Wellness Area.</p>
		<p>On Sunday June 8th, we will be marching in the <a href="https://www.prideparademke.org/">Milwaukee Pride Parade</a> with our "biplane" float. All are welcome to meet us in the staging area and join our contingent in the parade.</p>
	</Section>
	<Section backgroundImage="pridefest.jpg">
		<h1>Special Events in June</h1>
		<p>We're making the most of Pride with a variety of BPM activities, including a movie night and a concert outing.</p>
		<p><Button link="/calendar" color="purple">View the Event Calendar</Button></p>
	</Section>
	<Gallery>
		<GalleryImage image="pride/pride-1.jpg" description="2024 Pirate ship float group picture" />
		<GalleryImage image="pride/pride-2.jpg" description="Walking with the Bi+ Pride MKE banner in the Pride Parade" />
		<GalleryImage image="pride/pride-3.jpg" description="Our table at Pridefest" />
	</Gallery>
	<Section backgroundImage="pridefest-table.jpg">
		<script async src="https://eocampaign1.com/form/dc0ace52-27b6-11f0-aeb0-3b7aca71985e.js" data-form="dc0ace52-27b6-11f0-aeb0-3b7aca71985e"></script>
	</Section>
</BaseLayout>