---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import ResourcesLayout from '../layouts/ResourcesLayout.astro';
---
<BaseLayout pageTitle="Resources" page="resources" description="Useful information for the bi+ community">
	<Section backgroundImage="summerfest.jpg">
		<h1>Resources</h1>
	</Section>
	<ResourcesLayout />
</BaseLayout>

