---
const { page } = Astro.props;
---
<div class="container">
    <nav>
        <h1>Bi+ Pride Milwaukee</h1>
        <ul>
            <li class={page === "home" && "active"}><a href="index.html">Home</a></li>
            <li class={page === "calendar" && "active"}><a href="calendar.html">Calendar</a></li>
            <li><a href="index.html#events">Events</a></li>
            <li class={page === "bookclub" && "active"}><a href="bookclub.html">Book Club</a></li>
        </ul>
    </nav>
</div>