---
import BaseLayout from '../layouts/BaseLayout.astro';
import Section from '../components/Section.astro';
import ButtonNavigation from '../components/ButtonNavigation.astro';
import Button from '../components/Button.astro';
---
<BaseLayout pageTitle="Bi+ Book Club" page="bookclub" description="Milwaukee book club reading books related to bisexuality">
		<Section backgroundImage="bookclub.png">
				<p>Bi+ Pride Milwaukee's Book Club meets bi-monthly (every other month)
				<br>@ the Milwaukee LGBT Center at 6:30 PM
				<br>315 W Court Street, Milwaukee, WI 53212</p>
		</Section>
		<ButtonNavigation>
				<h2>Bi+ Book Club</h2>
				<p>
					<Button link="https://www.roomofonesown.com/" color="bi-blue">A Room of One's Own</Button>
				</p>
				<p>
					<Button link="https://www.boswellbooks.com/" color="purple">Boswell Book Company</Button>
				</p>
				<p>
					<Button link="https://bookshop.org/lists/bi-pride-milwaukee-book-club-picks/" color="pink">Bookshop.org</Button>
				</p>
				<p>
					<Button link="https://www.amazon.com/abc/detail/amzn1.club.bookclub.e4c5192b-58f3-740b-8d08-be66b03e2933?ref_=abc_aa_bdp_r_ds_imw_ibc" color="yellow">Amazon Book Club</a>
				</p>
				<p>
					<Button link="https://www.mpl.org" color="pan-blue">Milwaukee Public Library</Button>
				</p>
		</ButtonNavigation>
		<div class="container">
			<div class="center">
				<p>We love to support our local queer-owned businesses! So while you can absolutely check out our Amazon book club, we encourge you to shop local and support queer folks! The buttons at the top of the page lead to ways you can do that!</p>
				<p>Mention the Bi+ Book Club at Boswell Books for a 10% discount (and find our next read on their book club shelf!)<br>
				Purchasing through our affiliate link at bookshop.org will donate 10% of the sale to Bi+ Pride MKE!</p>
				<hr>
			</div>
		</div>
		<div class="book-container">
			<div>
				<a href="https://www.goodreads.com/book/show/57931617-baggage" target="_blank">
					<img src="/bookclub-assets/Alan Cumming Baggage.jpg" alt="Baggage: Tales From a Fully Packed Life by Alan Cumming (Memoir)" />
				</a>
			</div>
			<div>
				<h3>Monday, April 8th, 2024<br>
				Baggage: Tales From a Fully Packed Life by Alan Cumming<br>
				(Memoir)</h3>
				<p>Join Bi+ Pride Milwaukee for a book discussion at the LGBT Community Center. April's book is "Baggage: Tales From a Fully Packed Life". This memoir from openly bisexual stage and screen actor Alan Cumming, who was once touted by the New York Observer as a "frolicky pansexual sex symbol for the new millennium" tells his story in this collection of anecdotes, recollections and musings where every chapter title ends in the letter "y".</p>
				<p><a href="https://fb.me/e/1tG8DaPTT">Link to Facebook event</a></p>
			</div>
		</div>
		<div class="book-container">
			<div>
				<a href="https://www.goodreads.com/book/show/58667392-bi" target="_blank">
					<img src="/bookclub-assets/Bi book cover.jpg" alt="Bi: The Hidden Culture, History, and Science of Bisexuality by Julia Shaw (Nonfiction)" />
				</a>
			</div>
			<div>
				<h3>Monday, June 3rd, 2024<br>
				Bi: The Hidden Culture, History, and Science of Bisexuality by Julia Shaw<br>
				(Nonfiction)</h3>
				<p>Join Bi+ Pride Milwaukee for a book discussion at the LGBT Community Center. June's book is a Non-Fiction offering about science, Bisexual identity, and history from Julia Shaw, a queer Psychologist at the University of London and a member of the thinktank "Queer Politics" at Princeton University. We'll be reading and discussing "Bi: The Hidden Culture, History, and Science of Bisexuality" just in time for Pride!</p>
				<p><a href="https://fb.me/e/FCIzVa79">Link to Facebook event</a></p>
			</div>
		</div>
		<div class="book-container">
			<div>
				<a href="https://www.goodreads.com/book/show/55338994-the-queer-principles-of-kit-webb" target="_blank">
					<img src="/bookclub-assets/Queer Principles of Kitt Webb.jpg" alt="The Queer Principles of Kitt Web by Cat Sebastian (Historical Romance)" />
				</a>
			</div>
			<div>
				<h3>Monday, August 5th, 2024<br>
				The Queer Principles of Kitt Web by Cat Sebastian<br>
				(Historical Romance)</h3>
				<p>Join Bi+ Pride Milwaukee for a book discussion at the LGBT Community Center. August's book is a historical romance focused on a widowed Bisexual Highwayman (and Coffee House Owner) Kitt Webb, and a nobleman named Percy (who happens to be the son of the very Duke who mysteriously wronged Kitt Webb in the past).</p>
<p>Although this title is her first novel released as a trade paperback, Cat Sebastian has long been recognized for her queer historical romances.</p>
				<p><a href="https://fb.me/e/1kROQkY8Z">Link to Facebook event</a></p>
			</div>
		</div>		
		<hr />
		<div class="container">
			<div class="flex-nav">
				<h2>Previous Book Club Selections</h2>
			</div>
		</div>
		<div class="book-grid">
			<div>
				<a href="https://www.goodreads.com/book/show/40495957-heartstopper" target="_blank">
					<img src="/bookclub-assets/Heartstopper.jpg" alt="Heartstopper, Volume 1 by Alice Oseman (Graphic Novel)" />
				</a>
			</div>	
			<div>	
				<a href="https://www.goodreads.com/book/show/28963596-the-raven-and-the-reindeer" target="_blank">
					<img src="/bookclub-assets/Raven and Reindeer.jpg" alt="The Raven and the Reindeer" />
				</a>
			</div>
			<div>
				<a href="https://www.goodreads.com/book/show/54860443-one-last-stop" target="_blank">
					<img src="/bookclub-assets/One Last Stop.jpg" alt="One Last Stop by Casey McQuiston" />
				</a>
			</div>
			<div>
				<a href="https://www.goodreads.com/book/show/41150487-red-white-royal-blue" target="_blank">
					<img src="/bookclub-assets/Red White & Royal Blue.jpg" alt="Red, White & Royal Blue by Casey McQuiston" />
				</a>
			</div>
			<div>
				<a href="https://www.goodreads.com/book/show/24233708-an-absolutely-remarkable-thing" target="_blank">
					<img src="/bookclub-assets/An Absolutely Remarkable Thing.jpg" alt="An Absolutely Remarkable Thing by Hank Green" />
				</a>
			</div>
			<div>
				<a href="https://www.goodreads.com/book/show/22009625-best-bi-short-stories" target="_blank">
					<img src="/bookclub-assets/Best Bi.jpg" alt="Best BI: Short Stories of Bisexual Fiction" />
				</a>
			</div>
			<div>
				<a href="https://www.goodreads.com/book/show/7459093-the-brother-sister-plays" target="_blank">
					<img src="/bookclub-assets/The Brother Sister Plays.jpg" alt="The Brother/Sister Plays by Tarell Alvin McCraney" />
				</a>
			</div>
			<div>
				<a href="https://www.goodreads.com/book/show/18839.Orlando" target="_blank">
					<img src="/bookclub-assets/Orlando A Biography.jpg" alt="Orlando by Virginia Woolf" />
				</a>
			</div>
			<div>
				<a href="https://www.goodreads.com/book/show/406235.Giovanni_s_Room" target="_blank">
					<img src="/bookclub-assets/Giovannis Room.jpg" alt="Giovanni's Room by James Baldwin" />
				</a>
			</div>
		</div>
    </BaseLayout>

